$include /etc/inputrc
#set show-mode-in-prompt on

#VI MODE
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

#double tab to single tab
#set show-all-if-unmodified On

# single tab does: complete word, show possible compleetions if still ambiguous
set show-all-if-ambiguous On

set completion-ignore-case on

#bracketed pasted
#security off?
set enable-bracketed-paste on

#off - c-k to clear no work
#disable control echo
set echo-control-characters on

# Color files by types
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On

# suffix for file type like with ls -F
set page-completions off

$if mode=vi

"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[D":        backward-char
"\M-[C":        forward-char

#bind '"\e[A": history-search-backward'
#bind '"\e[B": history-search-forward'

# Bash Keybindings
"\C-p":"cd ~/.darth/scripts\n"
"\C-l":"clear\n"
"\C-o":"cd ~/.config\n"
#"\eh":"cd ..\n"
#"\el":"cd -\n"
#"\C-h":"cd /home/malu/Documents/dotfiles/hypr/hypr-configs\n"
#"\C-y":"yy\n"
#"\C-y":"pwd\n"

#automate yes/no
#"\e\C-y": "\C-ayes | \C-m"

#prefix sudo to command
#"\es": "\C-asudo \C-e"

#wrap line in su -c ''
#"\es": "\C-a su -c '\C-e'\C-m"
#"\es": "\C-a su -c '\C-e'"
#"\C-x":"sourceb\n clear\n"

#quickly send a command in the background with Ctrl+Alt+b, discarding all of its output
#"\e\C-b": "\C-e > /dev/null 2>&1 &\C-m"

# Arrow keys in keypad mode
#
#"\M-OD":        backward-char
#"\M-OC":        forward-char
#"\M-OA":        previous-history
#"\M-OB":        next-history

C-q: quoted-insert
$endif

#keys legend
#\e -alt . soo \es = alt+s
#C-m - enter
#C-a -  BOL??
#C-e - EOL
