* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: JetBrainsMono Nerd Font,FontAwesome,Cartograph CF Nerd Font, monospace;*/
    /*font-size: 15px;*/
    min-height: 0;
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    font-weight: bold;
    border: none;
    border-radius: 0;
}

tooltip {
    font-family: FantasqueSansM Nerd Font;
    font-size: 16px;
    padding: 0;
    background: #183D3D;
    /*margin: 6px 4px 6px 4px;*/
    border-radius: 10px;
    border:1px solid #116A7B;
}

window#waybar {
    font-family: JetBrainsMono Nerd Font;
    /*background: rgba(21, 18, 27, 0);*/
    color: rgba(8, 8, 8,0.58);
    background-color: rgba(8, 8, 8,0);
    border-bottom: 0px solid #ffffff;
    border-radius: 18px;
    /*transition-property: background-color;*/
    /*transition-duration: .5s;*/
}

window#waybar.solo {
    /*background-color: rgba(19,35,36,0.88);*/
    border-bottom: 0px solid #ffffff;
    /*background-color: rgba(40,40,40,1);*/
}


window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: rgba(19,35,36,0.0);
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces {
    margin: 4px 0px;
    padding: 0 2px;
    border-right: 3px solid rgba(255, 255, 255, 0.8);
    border-left: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    /*background: rgba(214 ,28 ,78, 0.22);*/
    background: rgba(0 ,0 ,0, 0.12);
    color: rgba(255, 255, 255, 0.9);
}

#workspaces button.urgent {
    color: red;
    /*background: rgba(255, 255, 255, 0.5);*/
    /*border-top: 3px solid rgba(255, 255, 255, 0.5);*/
    /*border-radius: 10px;*/
}

#workspaces button {
    font-family:quicksand;
    font-size: 13px;
    margin: 3px 0px;
    /*color: #d79921;*/
    /*color: #fc819e;*/
    color: rgba(255, 255, 255, 1);
    min-width: 19px;
    padding: 0px 0px;
    /*min-width: 12px;*/
    /*margin: 2px 2px 2px 2px;*/
    /*transition: all 0.1s ease-in-out;*/
    /*border-top: 3px;*/
}


#workspaces button:hover {
    box-shadow: none;
    /*text-shadow: none;*/
    /*border-top: 1px solid rgba(255, 255, 255, 0.4);*/
    /*margin: 5px 2px 5px 2px;*/
    /*padding: 0px 5px;*/
    /*background: @workspacesbackground2;*/
    /*padding: 0 3px;*/

}

#workspaces button.empty {
    /*color: #fc819e;*/
    color: rgba(0,0,0,0.2);
}

#workspaces button.active {
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
    font-family:quicksand;
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    /*background: rgba(255, 255, 255, 0.69);*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.4);*/
    /*border: 1px solid rgba(255, 255, 255, 0.4);*/
    background: rgba(255, 255, 255, 0.6);
    border-radius: 18px;
    margin:2px 0px;
    /*color: #6C22A6;*/
    color: rgba(247 ,39 ,152,0.82);
    /*transition: all 0.4s ease-in-out;*/
}

/* if workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    margin-right:8px;
}

/* if workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-left {
    margin-right:8px;
    padding-right:8px;
}

#clock {
    /*font-size: 15px;*/
    margin: 4px 3px;
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    /*border-color: rgba(247, 65, 143, 0.5);*/
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 2px;
    font-family: quicksand;
    font-size: 15px;
    transition: none;
    /*color: #ffd700;*/
    /*color: #e1b525;*/
    /*color: #d3ab27;*/
    color: rgba(255, 255, 255, 0.86);
}

#keyboard-state{
    color: #fab387;
    /*border-radius: 10px 0px 0px 10px;*/
    /*margin-left: 5px;*/
    margin: 0px 5px;
    padding:0;
    /*border-right: 0px;*/
    }

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    font-family: quicksand;
    font-size: 13px;
	/*margin-left: 8px;*/
    padding: 0 2px;
    margin: 0 2px;
	/*border-radius: 10px;*/
	/*transition: none;*/
	color: rgba(255 ,253 ,140,0.88);
    /*border-right: 1px solid #6c3483;*/
	background: transparent;
}

#memory {
    font-family: quicksand;
    margin: 4px 0px 4px 2px;
    font-size: 14px;
    padding: 0 4px;
    border-right: 3px solid rgba(255, 255, 255, 0.6);
    border-left: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
	color: #35013f;
	color: #35013f;
    background: rgba(236, 238 ,129, 0.5);
}

#disk {
    margin: 4px 0px 4px 2px;
    font-size: 14px;
    padding: 0 4px;
    border-right: 3px solid rgba(255, 255, 255, 0.6);
    border-left: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(176 ,97, 97, 0.5);
}

#backlight {
    background-color: #90b1b1;
}

#network {
    font-family: fantasquesansm nerd font mono;
    font-size: 14px;
    padding:  0px 2px;
    margin: 4px 3px;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    background: rgba(214 ,28 ,78, 0.424);
    color: rgba(255, 255, 255, 0.9);

	/*background: #cc6699;*/
    /*background: rgba(17 ,106 ,123, 0.3); nice blue*/ 
    /*font-family: fontawesome;*/
	/*color: #ff1493;*/
    /*color: #e3dcc8;*/
}

#network.disconnected {
    /*background-color: grey;*/
    background: rgba(255, 255, 255, 0.1);
}

/*#network.wifi*/


#pulseaudio {
    color: #89b4fa;
    /*border-left: 0px;*/
    padding-left:4px;
    margin-left:8px;
    /*border-right: 0px;*/
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background: rgba(146 ,199 ,207, 0.6);
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    margin: 4px 0px 4px 0px;
    padding: 0 4px;
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: rgba(0,0,0,1)
    /*color: #4cb2a5;*/
    /*color: #FC819E;*/
    /*color: #E3DCC8;*/
    /*background: #383c4a;*/
}

#wireplumber.muted {
    background-color: #9d0006;
    margin: 2px 5px 2px 5px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
}

#temperature {
    /*background-color: #f0932b;*/
    /*border-radius: 15px;*/
    font-size: 14px;
    font-family: JetBrainsMono Nerd Font;
    padding: 0px 6px 0px 6px;
	border-radius: 15px;
    margin: 2px 0px;
    transition: none;
    /*color: #CBFFA9;*/
    color: rgba(0,0,0,1)
    /*background: #E3DCC8;*/
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    margin: 2px 6px 2px 2px;
    background: transparent;
    padding: 0 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    margin: 0;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(255, 255, 255, 0.1);
}

#custom-wleave {
    font-size: 14px;
    padding: 0px 8px 0px 2px;
    margin: 3px 0px;
    min-width:10px;
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    /*background: rgba(255, 255, 255, 0.2);*/
    border-radius: 26px;
    color: #000000
    /*font-family: JetBrainsMono Nerd Font;*/
    /*color: #E3DCC8;*/
    /*color: #FBFF1E;*/
    }

#keyboard-state > label {
    padding: 0px 5px 0px 5px;
    /*margin: 5px;*/
    color: #56403e;
}

#keyboard-state > label.numlock {
    margin-left:2px;

}

#keyboard-state > label.locked {
    /*background: rgba(0, 0, 0, 0.2);*/
    color: #FBFF1E; 
}

#taskbar {
    /*background: #275F75;*/
    background: rgba(255, 255, 255, 0.0);
    margin: 3px 6px 3px 0px;
    padding:0px 2px;
    border-radius: 12px;
    font-weight: normal;
    font-style: normal;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    margin:0;
    min-width: 0px;
    padding: 0px;
    background: transparent;
    border:0;
}

#mpris {
    font-size: 14px;
    margin: 4px 0px 4px 4px;
    padding: 0px 5px;
    font-family: JetBrainsMono Nerd Font;
    color: rgba(0,0,0,0.8);
}

#mpris.spotify{
    /*color: #1ED760;*/
    background: rgba(255 ,255 ,255, 0.1);
    border-right: 2px solid rgba(255 ,255,255, 0.664);
    border-left: 2px solid rgba(255 ,255,255, 0.664);
    border-radius: 2px;
    color: rgba(22 ,255 ,0,0.8);
}


#idle_inhibitor {
    font-size:14px;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #FFD700;
    padding-bottom: 2px;
    margin: 2px 2px 2px 0px;
}
#idle_inhibitor.deactivated {
    background-color: transparent;
    padding-bottom: 1px;
    margin: 2px 0px 2px 0px;
    /*color: #76745c;*/
    color: rgba(255, 255, 255, 0.4);
}

#idle_inhibitor {
    padding:0px;
    margin: 2px 0px 2px 0px;
    background-color: #d46547;
}

/* update module css*/

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    /*min-height: 80px;*/
    min-width: 30px;
    min-height:3px;
    border-radius: 1px;
    background-color: #CCAFAF;
}
#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 5px;
    background-color: #CC0E74;
}

#drawer-child {
    background: black;
}
