* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: JetBrainsMono Nerd Font,FontAwesome,Cartograph CF Nerd Font, monospace;*/
    /*font-size: 15px;*/
    min-height: 0;
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    font-weight: bold;
    border: none;
    border-radius: 0;
}

tooltip {
    font-family: FantasqueSansM Nerd Font;
    font-size: 16px;
    padding: 0;
    background: #183D3D;
    /*margin: 6px 4px 6px 4px;*/
    border-radius: 10px;
    border:1px solid #116A7B;
}

window#waybar {
    font-family: JetBrainsMono Nerd Font;
    /*background: rgba(21, 18, 27, 0);*/
    color: #E5CB9F;
    /*adding this for reduce waybar height*/
    /*background-color: #002B36;*/
    /*background-color: rgba(9,59,80,0.7);*/
    /*font-size: 14px;*/
    /*margin: 0 16px;*/
    /*background-color: rgba(19,35,36,1);*/
    background-color: rgba(0, 0, 0,0.7);
    border-bottom: 0px solid #ffffff;
    /*transition-property: background-color;*/
    /*transition-duration: .5s;*/
}

window#waybar.solo {
    /*background-color: rgba(19,35,36,0.88);*/
    border-bottom: 0px solid #ffffff;
    /*background-color: rgba(40,40,40,1);*/
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.kitty {
    /*background-color: rgba(25,24,37,0);*/
    background-color: rgba(0,0,0,0.47);
}

window#waybar.obsidian {
    /*background-color: rgba(25,24,37,0);*/
    background-color: rgba(45,53,59,1);
}
window#waybar.Spotify {
    /*background-color: rgba(9,59,80,0.9);*/
    background-color: rgba(0,0,0,1);
}

window#waybar.smplayer {
    /*background-color: rgba(9,59,80,0.9);*/
    background-color: rgba(0,0,0,1);
}

window#waybar.firefox {
    /*background-color: rgba(9,59,80,1);*/
    /*background-color: rgba(13,17,23,0.93);*/
    background-color: rgba(13,17,23,0.93);
}

window#waybar.kitty-teal {
    /*background-color: rgba(9,59,80,1);*/
    /*background-color: rgba(13,17,23,0.93);*/
    background-color: rgba(13,17,23,0.93);
}

window#waybar.dark-kitty {
    /*background-color: rgba(9,59,80,1);*/
    /*background-color: rgba(13,17,23,0.93);*/
    background-color: rgba(13,17,23,0.93);
}

window#waybar.vscodium {
    /*background-color: rgba(9,59,80,1);*/
    /*background-color: rgba(13,17,23,0.93);*/
    background-color: rgba(13,17,23,0.93);
}

window#waybar.org\.gnome\.Nautilus {
    /*background-color: rgba(9,59,80,1);*/
    /*background-color: rgba(13,17,23,0.93);*/
    background-color: rgba(30,30,30,0.99);
}

window#waybar.lollypop {
    /*background-color: rgba(9,59,80,1);*/
    background-color: rgba(17,17,27,1);
}

window#waybar.com\.github\.wwmm\.easyeffects {
    /*background-color: rgba(9,59,80,1);*/
    background-color: rgba(36,36,36,1);
}

window#waybar.empty {
    background-color: rgba(19,35,36,0);
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.urgent {
    color: red;
    /*background: rgba(255, 255, 255, 0.5);*/
    /*border-top: 3px solid rgba(255, 255, 255, 0.5);*/
    /*border-radius: 10px;*/
}



#workspaces button {
    font-family:Quicksand;
    font-size: 13px;
    margin: 3px 3px;
    color: #D79921;
    min-width: 20px;
    padding: 0px 0px;
    border: 1px solid rgba(255, 255, 255, 0.0);
    /*min-width: 12px;*/
    /*margin: 2px 2px 2px 2px;*/
    /*transition: all 0.1s ease-in-out;*/
    /*border-top: 3px;*/
}
#workspaces button.active {
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
    font-family:Quicksand;
    /*color:  #FBFF1E;*/
    /*color: #F0DE36;*/
    /*color: #F3B664;*/
    color: #D79921;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 28px;
    /*transition: all 0.4s ease-in-out;*/
}

#workspaces button.empty {
    /*color: #FC819E;*/
    color: #a89984;
}

#workspaces button:hover {
    box-shadow: none;
    /*text-shadow: none;*/
    /*border-top: 1px solid rgba(255, 255, 255, 0.4);*/
    /*margin: 5px 2px 5px 2px;*/
    /*padding: 0px 5px;*/
    /*background: @workspacesbackground2;*/
    /*padding: 0 3px;*/

}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    margin-right:8px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-left {
    margin-right:8px;
    padding-right:8px;
}

#clock {
    /*font-size: 15px;*/
    margin: 2px 2px;
    /*border-width: 1px;*/
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    /*border-top: 1px solid rgba(255, 255, 255, 0.5);*/
	/*margin-left: 8px;*/
    padding: 0 2px;
    font-family: quicksand;
    font-size: 15px;
	/*border-radius: 15px;*/
    border-radius: 0px;
    transition: none;
    /*color: #FFD700;*/
    /*color: #e1b525;*/
    /*color: #D3AB27;*/
    color: #F3B664;
    background: rgba(255, 255, 255, 0.0);
}

#keyboard-state{
    color: #fab387;
    /*border-radius: 10px 0px 0px 10px;*/
    /*margin-left: 5px;*/
    margin: 0px 5px;
    padding:0;
    /*border-right: 0px;*/
    }

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    font-family: quicksand;
    font-size: 14px;
	/*margin-left: 8px;*/
    padding: 0 2px;
    margin: 0 2px;
	/*border-radius: 10px;*/
	/*transition: none;*/
	color: #D79921;
    /*border-right: 1px solid #6c3483;*/
	background: transparent;
}

#memory {
    font-family: quicksand;
    margin: 3px 2px;
    padding: 0px 6px;
    border: 1px solid #6c3483;
	border-radius: 18px;
	color: #DC84F3;
	background: transparent;
}

#disk {
    font-family: quicksand;
	border-radius: 18px;
    margin: 3px 2px;
    padding: 0px 8px;
    /*border: 1px solid #6c3483;*/
    border: 1px solid #6c3483;
    color: #FC819E;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    font-family: FantasqueSansM Nerd Font Mono;
    /*font-size: 15px;*/
    margin: 3px 0px 3px 4px;
    padding: 0px 5px;
    /*border: 2px dashed;*/
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
    /*font-family: FontAwesome;*/
	transition: none;
	/*color: #FF1493;*/
    /*color: #E3DCC8;*/
    color: #E5CB9F;
	/*background: #cc6699;*/
    background: rgba(255, 255, 255, 0.1);
}

#network.disconnected {
    /*background-color: grey;*/
    background: rgba(255, 255, 255, 0.1);
}

#network.wifi {
    /*color: #FC819E;*/
    color: inherit;
}

#pulseaudio {
    color: #89b4fa;
    /*border-left: 0px;*/
    padding-left:4px;
    margin-left:8px;
    /*border-right: 0px;*/
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background: rgba(255, 255, 255, 0.0);
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    margin: 0px 0px 0px 2px;
    padding: 0 4px;
    border-radius: 15px;
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*border-right: 1px solid rgba(255, 255, 255, 0.6);*/
    /*border-left: 1px solid rgba(255, 255, 255, 0.6);*/
	border-radius: 4px;
    transition: none;
    /*color: #4cb2a5;*/
    color: #FC819E;
    /*color: #E3DCC8;*/
    /*background: #383c4a;*/
}

#wireplumber.muted {
    background-color: #9d0006;
    margin: 2px 5px 2px 5px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    /*background-color: #f0932b;*/
    /*border-radius: 15px;*/
    font-size: 14px;
    font-family: JetBrainsMono Nerd Font;
    padding: 0px 6px 0px 6px;
	border-radius: 15px;
    margin: 2px 0px;
    transition: none;
    /*color: #CBFFA9;*/
    color: #E5CB9F;
    /*background: #E3DCC8;*/
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    margin: 2px 6px 2px 2px;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	/*border-radius: 10px;*/
	/*transition: none;*/
	/*color: #B5E8E0;*/
	/*background: #161320;*/
    background: transparent;
    padding: 0 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    margin: 0;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(255, 255, 255, 0.1);
}

#custom-wleave {
    font-size: 14px;
    padding: 0px 8px 0px 2px;
    margin: 3px 0px;
    min-width:10px;
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    /*background: rgba(255, 255, 255, 0.2);*/
    border-radius: 26px;
    color: #E5CB9F;
    /*font-family: JetBrainsMono Nerd Font;*/
    /*color: #E3DCC8;*/
    /*color: #FBFF1E;*/
    }

#keyboard-state > label {
    padding: 0px 5px 0px 5px;
    /*margin: 5px;*/
    color: #56403e;
}

#keyboard-state > label.numlock {
    margin-left:2px;

}

#keyboard-state > label.locked {
    /*background: rgba(0, 0, 0, 0.2);*/
    color: #FBFF1E; 
}

#taskbar {
    /*background: #275F75;*/
    background: rgba(255, 255, 255, 0.0);
    margin: 3px 6px 3px 0px;
    padding:0px 2px;
    border-radius: 12px;
    font-weight: normal;
    font-style: normal;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    margin:0;
    padding: 0px;
    background: transparent;
    border:0;
}

#mpris {
    /*background: rgba(42, 154, 146, 0.5);*/
    /*background: rgba(210, 149, 172, 0.4);*/
    background: rgba(255, 255, 255, 0.1);
    border: 1px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    font-family: JetBrainsMono Nerd Font;
    /*font-weight: bold;*/
    font-size: 14px;
    margin: 3px 0px 3px 4px;
    padding: 0px 5px;
    border-radius: 15px;
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*border: 0px solid #4f4c4c;*/
    /*transition: none;*/
    color: #1CD6CE;
    /*background: #383c4a;*/
}

#mpris.spotify{
    color: #1ED760;
}


#idle_inhibitor {
    font-size:14px;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #FFD700;
    padding-bottom: 2px;
    margin: 2px 2px 2px 0px;
}
#idle_inhibitor.deactivated {
    background-color: transparent;
    padding-bottom: 1px;
    margin: 2px 0px 2px 0px;
    /*color: #76745c;*/
    color: rgba(255, 255, 255, 0.4);
}

#idle_inhibitor {
    padding:0px;
    margin: 2px 0px 2px 0px;
    background-color: #d46547;
}

/* update module css*/

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    /*min-height: 80px;*/
    min-width: 30px;
    min-height:3px;
    border-radius: 1px;
    background-color: #CCAFAF;
}
#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 5px;
    background-color: #CC0E74;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}
