* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: quicksand,JetBrainsMono Nerd Font,monospace,Arial, Helvetica, sans-serif;
    min-height: 0;
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    font-weight: bold;
    margin: 0;
    border: none;
    border-radius: 0;
}

tooltip {
    font-family: FantasqueSansM Nerd Font;
    font-size: 14px;
    padding: 0;
    background: #183D3D;
    /*margin: 6px 4px 6px 4px;*/
    border-radius: 10px;
    border:1px solid #116A7B;
}

window#waybar {
    /*this is the actual text of active window*/
    /*background: rgba(21, 18, 27, 0);*/
    color: rgba(255 ,255 ,255, 0.728);
    color: rgba(42 ,119 ,254, 0.69);
    color: rgba(128 ,237 ,153, 0.69);
    color: rgba(45 ,149 ,150, 0.98);
    color: rgba(128 ,237 ,153, 0.58);
    color: rgba(154 ,208 ,194, 0.82);
    color: rgba(236 ,158 ,192, 0.82);
    color: rgba(235 ,224 ,208, 0.82);
    color: rgba(209 ,200 ,225, 0.89);
    color: rgba(154 ,208 ,194, 0.86);
    /*color: rgba(2 ,40 ,85, 1);*/
    /*color: rgba(255 ,158 ,170, 0.88);*/
    background-color: rgba(12 ,16 ,23, 1);
    background-color: rgba(23 ,39 ,41, 1);
    font-size: 13px;
}

window#waybar.solo {
    /*background-color: rgba(19,35,36,0.88);*/
    border-bottom: 0px solid #ffffff;
    /*background-color: rgba(40,40,40,1);*/
}


window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.firefox {
    /*background-color: rgba(19,35,36,0.88);*/
    background-color: rgba(0,0,0,1);
    /*background-color: rgba(40,40,40,1);*/
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces {
    padding:0px;
    /*border-bottom: 1px solid rgba(255 ,158 ,170, 0.63); */
    /*border-top: 1px solid rgba(255 ,158 ,170, 0.63); */
}

#workspaces button.urgent {
    color: red;
}

#workspaces button {
    /*removing padding causes issues*/
    font-family:quicksand;
    font-size: 12px;
    margin:2px 0px 2px 0px;
    padding: 0px 0px;
    border: 1px solid rgba(0 ,196 ,255,0);
    min-width: 17px;
    border-radius: 12px;
    color: rgba(255 ,158 ,170, 0.63);
    color: rgba(165 ,105 ,115, 0.98);
    color: rgba(128 ,237 ,153, 0.49);
    color: rgba(156 ,207 ,216, 0.72);
    color: rgba(42 ,119 ,254, 0.69);
    color: rgba(236 ,158 ,192, 0.78);
    color: rgba(230 ,144 ,155, 0.82);
    color: rgba(154 ,208 ,194, 0.66);
    color: rgba(154 ,208 ,194, 0.60);
}


#workspaces button:hover {
    box-shadow: none;
}

#workspaces button.active {
    /*color: rgba(255 ,255 ,255, 0.654);*/
    /*color: rgba(217 ,133 ,149, 0.924);*/
    /*background: rgba(217 ,133 ,149, 0.464);*/
    /*border: 1px solid rgba(216 ,243 ,220, 0.214);*/
    /*border: 1px solid rgba(255 ,158 ,170, 0.216);*/
    /*border: 1px solid rgba(209 ,200 ,225, 0.49);*/
    color: rgba(183 ,228 ,199, 0.62);
    color: rgba(230 ,144 ,155, 1);
    background: rgba(45 ,106 ,79, 0.52);
    background: rgba(87 ,204 ,153, 0.169);
    background: rgba(45 ,149 ,150, 0.32);
    background: rgba(255 ,158 ,170, 0.386);
    background: rgba(154 ,208 ,194, 0.31);
    color: rgba(154 ,208 ,194, 0.95);
}

#workspaces button.empty {
    /*color: #fc819e;*/
    color: rgba(255, 255, 255, 0.211);
    color: rgba(255, 255, 255, 0.192);
    color: rgba(255, 255, 255, 0.172);
}
/* if workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    margin-right:0px;
}

/* if workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-left {
    margin-right:0px;
    padding-right:0px;
}

#clock {
    margin: 0px 4px;
    font-family: quicksand;
    font-size: 12px;
    color: rgba(128 ,237 ,153, 0.62);
    color: rgba(156 ,207 ,216, 0.90);
    color: rgba(154 ,208 ,194, 0.86);
    /*border-bottom: 2px solid rgba(156 ,207 ,216, 0.83);*/
    background: rgba(255 ,255 ,255, 0.104);
    background: rgba(87 ,204 ,153, 0.169);
    background: rgba(87 ,204 ,153, 0.149);
    /*background: rgba(0 ,0 ,0, 0.169);*/
    border: 1px solid rgba(255 ,255,255, 0.052);
    border-radius: 18px;
    padding: 0px 3px;
    margin: 3px 4px 3px 8px;
}

#keyboard-state{
    color: #fab387;
    margin: 0px 5px;
    padding:0;
    }


#cpu {
    font-family: quicksand;
    font-size:12px;
    margin: 2px 0px 0px 3px;
    color: rgba(253 ,164 ,3, 0.89);
    color: rgba(246 ,193 ,119, 0.89);
    color: rgba(159 ,162 ,178, 1);
    color: rgba(255 ,238 ,147, 0.85);
    color: rgba(243 ,222 ,44, 0.85);
    /*border-bottom: 2px solid rgba(253 ,164 ,3, 0.88);*/
    /*border-bottom: 2px solid rgba(243 ,222 ,44, 0.55);*/
}

#memory {
    font-family: quicksand;
    margin: 2px 6px 1px 6px;
    padding: 0px 2px 0px 0px;
    font-size:12px;
    transition: none;
    color: rgba(219 ,213 ,110, 0.72);
    color: rgba(205 ,214 ,221, 0.72);
    color: rgba(201 ,173 ,167, 0.720);
    color: rgba(76 ,205 ,153, 0.62);
    color: rgba(255 ,217 ,206, 0.65);
    color: rgba(207 ,255 ,229, 0.65);
    color: rgba(92 ,128 ,188, 0.88);
    color: rgba(255 ,255 ,255, 0.524);
    color: rgba(204 ,213 ,255, 0.65);
    color: rgba(72 ,191 ,227, 0.68);
    color: rgba(188 ,235 ,203, 0.52);
    color: rgba(107 ,255 ,122, 0.62);
    color: rgba(159 ,162 ,178, 1);
    /*border-bottom: 2px solid rgba(21 ,245 ,186, 0.76);*/
}

#disk {
    margin: 2px 10px 0px 0px;
    font-size:12px;
    font-family: quicksand;
    padding: 0px 0px 0px 0px;
    color: rgba(205 ,214 ,221, 0.65);
    color: rgba(255 ,158 ,170, 0.82);
    color: rgba(72 ,191 ,227, 0.82);
    /*border-bottom: 2px solid rgba(229, 201 ,155, 0.8);*/
}

#backlight {
    background-color: #90b1b1;
}

#network {
    color: rgba(255 ,158 ,170, 0.83);
    /*font-family: fantasquesansm nerd font mono;*/
    font-family: quicksand;
    font-size: 12px;
    padding:  0px 0px;
    margin: 0px 4px 0px 4px;
    border-radius: 0px;
    /*border-bottom: 2px solid rgba(255 ,158 ,170, 0.83); */

	/*background: #cc6699;*/
    /*background: rgba(17 ,106 ,123, 0.3); nice blue*/ 
    /*font-family: fontawesome;*/
	/*color: #ff1493;*/
    /*color: #e3dcc8;*/
}

#network.disconnected {
    /*background-color: grey;*/
    background: rgba(255, 255, 255, 0.1);
}

/*#network.wifi*/


#pulseaudio {
    color: #89b4fa;
    /*border-left: 0px;*/
    padding-left:4px;
    margin-left:8px;
    /*border-right: 0px;*/
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    font-family: quicksand;
    font-size: 12px;
    margin: 1px 4px 0px 4px;
    color: rgba(255 ,158 ,170, 0.83);
    /*color: #FC819E;*/
}

#wireplumber.muted {
    background-color: #9d0006;
    margin: 2px 0px 2px 0px;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 2px;
}

#temperature {
    margin: 0px 0px 0px 0px;
    font-size: 11px;
    font-family: quicksand;
    color: rgba(205 ,214 ,221, 0.66);
    color: rgba(159 ,162 ,178, 1);
    color: rgba(255 ,158 ,170, 1);
    color: rgba(255 ,255 ,255, 0.524);
    color: rgba(72 ,191 ,227, 0.82);
    color: rgba(243 ,222 ,44, 0.85);
    color: rgba(154 ,208 ,194, 0.86);
}

#temperature.critical {
    color: rgba(255 ,158 ,170, 0.83);
}

#tray {
    margin: 0px 4px 0px 4px;
    background: transparent;
    padding: 0px 0px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    /*margin: 0;*/
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(255, 255, 255, 0.1);
}

#custom-wleave {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: rgba(255 ,158 ,170, 0.83);
    color: rgba(32 ,125 ,231, 0.83);
    color: rgba(23 ,147 ,209, 1);
    color: rgba(7 ,172 ,243, 1);
    color: rgba(159 ,162 ,178, 1);
    /*color: rgba(255 ,255 ,255, 0.564);*/
    }

#custom-updates {
    color: rgba(76 ,205 ,153, 0.76);
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}

#custom-weather {
    color: rgba(159 ,162 ,178, 0.99);
    font-family: quicksand;
    margin: 0px 6px 0px 6px;
    font-size: 12px;
}

#custom-swap_workspace {
    color: rgba(255, 255, 255, 0.66);
    margin: 0px 0px 0px 6px;
    font-size: 12px;
    color: rgba(14 ,124 ,232,0.954);
    /*font-family: Font Awesome;*/
}

#keyboard-state > label {
    padding: 0px 5px 0px 5px;
    /*margin: 5px;*/
    color: #56403e;
}

#keyboard-state > label.numlock {
    margin-left:2px;

}

#keyboard-state > label.locked {
    /*background: rgba(0, 0, 0, 0.2);*/
    color: #FBFF1E; 
}

#taskbar {
    /*background: #275F75;*/
    background: rgba(255, 255, 255, 0.0);
    margin: 3px 6px 3px 0px;
    padding:0px 2px;
    border-radius: 12px;
    font-weight: normal;
    font-style: normal;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    margin:0;
    min-width: 0px;
    padding: 0px;
    background: transparent;
    border:0;
}

#mpris {
    font-size: 12px;
    font-family: quicksand;
    background: rgba(142 ,122 ,181, 0.342);
    background: rgba(22 ,255 , 0, 0.142);
    background: rgba(255 ,255 ,255, 0.104);
    background: rgba(87 ,204 ,153, 0.169);
    background: rgba(87 ,204 ,153, 0.149);
    border: 1px solid rgba(255 ,255,255, 0.052);
    border-radius: 12px;
    padding: 0px 6px;
    margin: 3px 4px 3px 5px;
    color: rgba(128 ,237 ,153, 0.69);
    color: rgba(156 ,207 ,216, 0.76);
    color: rgba(209 ,200 ,225, 0.96);
    color: rgba(154 ,208 ,194, 0.86);
}

#mpris.spotify{
    /*color: #1ED760;*/
    color: rgba(22 ,255 , 0, 0.666);
    background: rgba(22 ,255 , 0, 0.106);
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #FFD700;
}
#idle_inhibitor.deactivated {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.4);
}

#idle_inhibitor {
    padding:0px;
    border-top:1px solid rgba(154 ,208 ,194, 0.86);
    font-size: 12px;
    /*font-size:11px;*/
    margin: 0px 0px 0px 0px;
    background-color: #d46547;
}

/* update module css*/

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    /*min-height: 80px;*/
    min-width: 30px;
    min-height:3px;
    border-radius: 1px;
    background-color: #CCAFAF;
}
#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 5px;
    background-color: #CC0E74;
}

#drawer-child {
    background: black;
}
